{% extends "base.html.twig" %}

{% block body %}
<table class="table table-hover table-striped">
    <thead>
      <tr class="table-primary">
        <th scope="col">ID</th>
        <th scope="col">Categorie parente</th>
        <th scope="col">Categorie enfant</th>
        <th scope="col">Slug</th>
        <th scope="col">Ordre</th>
      </tr>
    </thead>
    <tbody>
        {% for categorie in categories %}
        <tr class="">
            <th scope="row">{{categorie.id}}</th>
            <td>
                {% if categorie.parent is not null %}
                {{categorie.parent.name}}
                {% endif %}
                     
            </td>
            <td>{{categorie.name}}</td>
            <td>{{categorie.slug}}</td>
            <td>{{categorie.categorieOrder}}</td>
            
          </tr>
        {% endfor %}
     
 
   
    </tbody>
  </table>
{% endblock %}