{% extends "base.html.twig" %}


{% block body %}
    <h2 class="text-center text-success">ADMINISTRATION</h2>
 
        <div class="col text-center">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{path('app_admin_categorie')}}">Liste des catégories</a>
                    
                </li>
                <li class="list-group-item">
                    <a href="{{path('app_admin_ajouter_categorie')}}">Ajouter une catégories</a>
                </li>
                <li class="list-group-item">
                    <a href="{{path('app_administration_produits')}}">Liste des produits</a>
                </li>
                <li class="list-group-item">
                    <a href="{{path('app_admin_ajouter_produits')}}">Ajouter un produit</a>
                </li>
                <li class="list-group-item">
                    <a href="{{path('app_admin_users_index')}}">Liste des utilisateurs</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">

        </div>
   
{% endblock %}