{% extends "base.html.twig" %}


{% block body %}
    <h2 class="text-center text-success">Détails de votre commande</h2>
    {% for commande in order %}
        <h2 class="text-success">Référence de la commande : {{commande.reference}}</p>
        <p class="text-info">Votre email : {{commande.users.email}}</p>
        <p class="text-info">Date de la commande :{{commande.createdAt|date('d/m/y')}}</p>
        {% for details in order_details %}
            <p class="text-info">Vos produits : {{details.products.name}}</p>
            <img width="25%" src="{{asset('img/products/mini/300x300-' ~ details.products.images[0].name)}}" class="img-fluid" width="30%" alt="{{details.products.name}}" title="{{details.products.name}}"/>

            <div class="text-info">Quantité(s) : {{details.quantity}}</p>
            <p class="text-info">Prix : {{details.products.price}} €</p>
        {% endfor %}
    {% endfor %}
{% endblock %}